###Reading file and creating a df or temp or permanent table
df1=spark.read.csv().options()<br>
CREATE OR REPLACE TEMPORARY VIEW view1<br>
(
  id int
  name STRING
)<br>
USING CSV <br>
Options
(
  path ""
  header ""
  inferSchema ""
);<br>
CREATE TABLE TBL1
(
  id int
  name STRING
)<br>
USING CSV <br>
Options
(
  path ""
  header ""
  inferSchema ""
);<br>

##how distinct in sql works diffrently from dropduplicate
| shipment_id |
| ----------- |
| NULL        |
| NULL        |
| 101         |
| 102         |

Results:

COUNT(DISTINCT shipment_id) → 2

dropDuplicates(["shipment_id"]).count() → 3

⚠️ If you have NULLs, results may differ

###Cast in sql vs dsl
In DSL we have a option try_cast .. if there is a format mismatch it will simply return null<br>
But in SQL, we dont have try_cast. Cast in default will fail if the format is not compatible to convert. Use update table to set value manually when we want to covert string to int

###Union difference in sql and dsl
sql-> **union**(select distinct rows from both datasets) and **unionall**(includes duplciates)<br>
dsl-> **union** behaves like unionall, if we need distinct we need to first union then do distinct on df<br>
**unionByName** is a special feature of dsl